@font-face {
	font-family: Lato-light;
	src: url(../assets/fonts/AnyConv.com__Lato-Light.woff);
}
@font-face {
	font-family: Lato-Regular;
	src: url(../assets/fonts/AnyConv.com__Lato-Regular.woff);
}
@font-face {
	font-family: Lato-Bold;
	src: url(../assets/fonts/AnyConv.com__Lato-Bold.woff);
}

:root{
	--font-family-l:  Lato-light, sans-serif;
	--font-family-r:  Lato-Regular, sans-serif;
	--font-family-b:  Lato-Bold, sans-serif;
}